

      body {
        font-family: Arial, sans-serif;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
          background-image: url("https://th.bing.com/th/id/OIP.xDtmUUSfLmQ_Qd1mkCavawHaHa?w=145&h=180&c=7&r=0&o=7&cb=ucfimg2&pid=1.7&rm=3&ucfimg=1")
      }

      .container {
        width: 823px;
        margin: 20px auto;
        border: 1px solid #b0c4de;
        background-color: #ffffff;
        padding: 15px;
      }

      .header {
        text-align: right;
        padding: -2px;
        margin-bottom: 16px;
        background-color: aqua
      }

      .header h1 {
        font-weight: bold;
        color: #0056b3;
      }

      .friends-box {
        width: 149px;
          height: 122px;
        float: left;
        border: 5px solid #006920;
        background-color: #6deab1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-right: 20px;
      }

      .friends-box ul li a {
        text-decoration: none;
        color: #4b6dd0;
      }

      .entry-parent {
        width: 530px;
        float: right;
      }

      .entry {
        border: 6px solid #ccc;
        padding: 15px;
        margin-bottom: 20px;
        background-color: #67e48b;
      }

      .entry img {
        float: right;
        width: 150px;
        height: 95px;
        border: 1px solid #ddd;
        margin-left: 15px;
      }

      .entry h3 {
        margin-bottom: 10px;
      }

      .entry-date {
        font-weight: bold;
        color: #005a9c;
          text-decoration: underline;
          text-decoration-line: wavy
      }

     
